#### 1 Con este archivo, construir un objeto de series de tiempo con el índice igual al año de los juegos olímpicos

In [24]:
import pandas as pd
archivo_fuente_juegos=pd.read_csv('Summer-Olympic-medals-1976-to-2008.csv',encoding='iso-8859-1',index_col="Year")
archivo_fuente_juegos.head()

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
Year,,,,,,,,,,
1976.0,Montreal,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1976.0,Montreal,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
1976.0,Montreal,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
1976.0,Montreal,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
1976.0,Montreal,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

In [12]:
print(f'El tipo de archivo importado es un: {type(archivo_fuente_juegos)}')

El tipo de archivo importado es un: <class 'pandas.core.frame.DataFrame'>

In [13]:
archivo_fuente_juegos.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 15433 entries, 1976.0 to 2008.0
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          15316 non-null  object
 1   Sport         15316 non-null  object
 2   Discipline    15316 non-null  object
 3   Event         15316 non-null  object
 4   Athlete       15316 non-null  object
 5   Gender        15316 non-null  object
 6   Country_Code  15316 non-null  object
 7   Country       15316 non-null  object
 8   Event_gender  15316 non-null  object
 9   Medal         15316 non-null  object
dtypes: object(10)
memory usage: 1.3+ MB

In [22]:
archivo_fuente_juegos.describe()

,City,Sport,Discipline,Event,Gender,Country_Code,Country,Event_gender,Medal,First Name,Last Name
count,15316,15316,15316,15316,15316,15316,15316,15316,15316,15316,15223
unique,9,28,41,293,2,128,127,3,3,8930,5587
top,Beijing,Aquatics,Athletics,hockey,Men,USA,United States,M,Bronze,KIM,Vladimir
freq,2042,2210,1523,817,9388,1992,1992,8817,5258,103,113

#### 2 Separar nombres de apellidos en dos columnas distintas usando la coma como separador

In [21]:
temporal=archivo_fuente_juegos["Athlete"].str.split(", ",n = 1, expand = True)
archivo_fuente_juegos["First Name"]=temporal[0]
archivo_fuente_juegos["Last Name"]=temporal[1]
archivo_fuente_juegos.drop(columns =["Athlete"], inplace = True)
archivo_fuente_juegos

,City,Sport,Discipline,Event,Gender,Country_Code,Country,Event_gender,Medal,First Name,Last Name
Year,,,,,,,,,,,
1976.0,Montreal,Aquatics,Diving,3m springboard,Women,GDR,East Germany,W,Silver,KÖHLER,Christa
1976.0,Montreal,Aquatics,Diving,3m springboard,Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
1976.0,Montreal,Aquatics,Diving,3m springboard,Men,USA,United States,M,Gold,BOGGS,Philip George
1976.0,Montreal,Aquatics,Diving,3m springboard,Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
1976.0,Montreal,Aquatics,Diving,10m platform,Women,USA,United States,W,Bronze,WILSON,Deborah Keplar
...,...,...,...,...,...,...,...,...,...,...,...
2008.0,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,Men,FRA,France,M,Bronze,GUENOT,Christophe
2008.0,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,Men,GEO,Georgia,M,Gold,KVIRKELIA,Manuchar
2008.0,Beijing,Wrestling,Wrestling Gre-R,55 - 60kg,Men,AZE,Azerbaijan,M,Silver,RAHIMOV,Vitaliy
2008.0,Beijing,Wrestling,Wrestling Gre-R,60 - 66kg,Men,FRA,France,M,Gold,GUENOT,Steeve
2008.0,Beijing,Wrestling,Wrestling Gre-R,96 - 120kg,Men,CUB,Cuba,M,Gold,LOPEZ,Mijain

#### 3 Obtener medidas resumen del conjunto de datos. Cuál es el país que ganó más medallas?

In [29]:
archivo_fuente_juegos.describe()

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
count,15316,15316,15316,15316,15316,15316,15316,15316,15316,15316
unique,9,28,41,293,11337,2,128,127,3,3
top,Beijing,Aquatics,Athletics,hockey,"PHELPS, Michael",Men,USA,United States,M,Bronze
freq,2042,2210,1523,817,16,9388,1992,1992,8817,5258

In [ ]:
#el pais que mas gano medallas fue:

#### 4 Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento

In [26]:
archivo_fuente_juegos.sum(axis=0)

C:\Users\Perspektiva 360\AppData\Local\Temp\ipykernel_24388\1508641876.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  archivo_fuente_juegos.sum(axis=0)

Series([], dtype: float64)

In [ ]:
#el pais que mas gano medallas fue: